* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #ffffff;
  position: fixed;
  width: 100vw;
  margin: 0 auto;
}

.nav__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1200px;
}

.nav__pages-list {
  list-style: none;
  display: flex;
  padding-right: 2.2rem;
}

.nav__pages-list-item {
  margin-right: 1rem;
  padding-bottom: 0.3rem;
}

.nav__pages-link-item--highlight {
  border-bottom: #db7a4e 2px solid;
}

.nav__pages-link {
  font-size: 0.9rem;
  color: black;
}

.site__title {
  font-size: 1.2rem;
  padding-left: 50px;
}

.footer {
  background-color: #fefaf5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box__contact {
  display: flex;
  flex-direction: column;
}

.box__times {
  display: flex;
}

.box__times-weekdays,
.box__times-saturday,
.box__times-sunday {
  display: flex;
  flex-direction: column;
}

.box__logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 20px;
}

.logos {
  width: 32px;
  height: 30px;
}

.logos-facebook {
  width: 15px;
}

.info__item1 {
  color: #db7a4e;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.info__item2 {
  margin-top: 0;
  padding-right: 30px;
}
