.hero {
  background-color: #fefaf5;
  padding: 90px 0 70px 0;
}

.wrapper-large {
  max-width: 1200px;
  width: 100vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.hero__box {
  padding-right: 120px;
  padding-left: 50px;
}

.hero__title {
  font-size: 2rem;
}

.hero__description {
  font-size: 0.9rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.hero__btn {
  background-color: #db7a4e;
  text-align: center;
  padding: 0.5rem 2.4rem;
  border-radius: 20px;
  color: #fff;
  font-style: none;
  font-size: 14px;
}

.hero__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 20px 0px rgba(219, 122, 78, 0.5);
}

.hero__btn:active {
  transform: translateY(2px);
}

.hero__logo {
  width: 40%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.main__title {
  font-size: 1.3rem;
  padding: 5px 0 15px 50px;
}

.recommendations {
  margin-top: 3rem;
}

.destinations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5rem;
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-position: center;
  background-size: cover;
  width: 280px;
  height: 26rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
  margin: 1rem;
}

.box--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
}

.box--iceland {
  background-image: url(../assets/Images/iceland.jpg);
}

.box--greece {
  background-image: url(../assets/Images/greece.jpg);
}

.destination__name {
  color: #fff;
  margin-right: 5%;
}
